<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="presentAlert()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>TFGinder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-container">
    <!-- Header del perfil con la imagen del usuario -->
    <div class="profile-header">
      <ion-avatar class="profile-avatar" (click)="changeProfilePicture()">
        <ion-img [src]="user.image"></ion-img>
      </ion-avatar>
    </div>

    <form id="profileForm" (ngSubmit)="saveProfile()">
      <!-- Datos del usuario: Nombre completo -->
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Nombre completo</ion-label>
          <ion-input type="text" [(ngModel)]="user.name" name="name" required></ion-input>
        </ion-item>

        <!-- Datos del usuario: Carrera -->
        <ion-item>
          <ion-label position="stacked">Carrera</ion-label>
          <ion-input type="text" [(ngModel)]="user.degree" name="degree" required></ion-input>
        </ion-item>

        <!-- Datos del usuario: Correo electrónico -->
        <ion-item>
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="user.email" name="email" readonly></ion-input>
        </ion-item>
      </ion-list>

      <!-- TFGs del usuario -->
      <div class="tfg-list">
        <h3 class="section-title">Mis TFGs</h3>
        <ion-list>
          <ion-item *ngFor="let tfg of tfgs" (click)="mostrarDetallesTFG()">
            <ion-label>
              <h2 class="tfg-title">{{ tfg.title }}</h2>
              <p class="tfg-professor">{{ tfg.professor }}</p>
            </ion-label>
            <ion-badge slot="end" [color]="tfg.status === 'Aceptado' ? 'success' : 'warning'">
              {{ tfg.status }}
            </ion-badge>
          </ion-item>
        </ion-list>
      </div>

      <!-- Botón para guardar cambios -->
      <ion-button class="save-button" type="submit" expand="block">Guardar cambios</ion-button>
    </form>
  </div>
</ion-content>
