<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="presentAlert()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>TFGinder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-container">
    <div class="professor-card" id="currentCard">
      <div class="professor-image">
        <ion-avatar>
          <ion-img [src]="currentProfessor.imagen"></ion-img> 
        </ion-avatar>
      </div>
      <div class="professor-info">
        <h2 class="professor-name">{{ currentProfessor.name }}</h2>
        <p class="professor-department">{{ currentProfessor.department }}</p>
        <p class="professor-interests">Intereses: {{ currentProfessor.interests }}</p>
      </div>
    </div>
  </div>

  <div class="buttons">
    <ion-button class="nope-btn" (click)="nope()">✕</ion-button>
    <ion-button class="like-btn" (click)="like()">♥</ion-button>
  </div>
</ion-content>