<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="presentAlert()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>TFGinder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-container" *ngIf="currentProfessor; else loading">
    <div class="professor-card" id="currentCard">
      <div class="professor-image">
        <button (click)="mostrarDetallesProfesor()">
          <ion-img [src]="currentProfessor['imagen'] || 'assets/images/default.png'"></ion-img>
        </button>
      </div>
      <div class="professor-info">
        <h2 class="professor-name">{{ currentProfessor['Título del TFG'] }}</h2>
        <p class="professor-department">Tutor: {{ currentProfessor['Tutor/a'] }}</p>
        <p class="professor-interests">Estado: {{ currentProfessor['Estado'] }}</p>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando datos...</p>
    </div>
  </ng-template>

  <div class="buttons">
    <ion-button class="nope-btn" (click)="nope()">✕</ion-button>
    <ion-button class="like-btn" (click)="like()">♥</ion-button>
  </div>
</ion-content>
